# Kubernetes Deployment for my-app
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        image: nancypate118/my-first-repo:1.0  # Replace with your image
        ports:
        - containerPort: 3000
